<%- include('partials/headerAfterLogin') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <h1 class="display-3">Elcon!</h1> -->
    <!-- <h2 class="secret-text">Hello <%= User.name %></h2> -->
    <hr />
    <div>
      <canvas id="myChart"></canvas>
    </div>

    <%= console.log('') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById("myChart");
  
      new Chart(ctx, {
        type: "line",
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [
            {
              label: 'Electricity Consumption in KwH',
              data: JSON.parse("[" + '<%= data[0] %>' + "]"),
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: false,
            },
          },
        },
      });
    </script>
  </div>
</div>

<%- include('partials/footerAfterLogin') %>
